.flex-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    align-items: flex-start;
  }

.profile {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    flex: 1 1 200px;
    padding: 1rem;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.profile img {
    width: 150px;
    height: 150px;
}

.profileBody {
    text-align:left;
}

.classes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));    
    gap: 1rem;
    flex: 1 1 400px; 
}

.classes > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

img {
    width: 100px;
    height: 100px;
}

.nav-links{
    display: flex;
    align-items: center;
    background: #fff;
    padding: 20px 15px;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  }
  .nav-links li{
    list-style: none;
    margin: 0 12px;
  }
  .nav-links li a{
    position: relative;
    color: #333;
    font-size: 20px;
    font-weight: 500;
    padding: 6px 0;
    text-decoration: none;
  }
  .nav-links li a:before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 0%;
    background: #34efdf;
    border-radius: 12px;
    transition: all 0.4s ease;
  }
  .nav-links li a:hover:before{
    width: 100%;
  }
  